<!DOCTYPE html>
<html>
  <head>
    <title>FS Classroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="index">
      <h1 class="landing">FS Classroom</h1>
      <a href="/classrooms">Classroom</a>
    </div>
  </body>
</html>
