<!DOCTYPE html>
<html>
  <head>
    <title>FS Classroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="success">
      <h1>Successfully added a grade!</h1>

      <a href="/classrooms/<%= id %>/<%= sid %>">
        <button type="button">Return to student</button>
      </a>
      
      <a href="/classrooms">
        <button type="button">Return to classrooms</button>
      </a>
    </div>
  </body>
</html>